<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ros2_control_joint" params="joint_name initial_value:=0.0">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_value}</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ur5_ros2_control" params="name hardware_plugin:=mock_components/GenericSystem include_gripper:=false gripper_prefix:=''">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${hardware_plugin}</plugin>
      </hardware>
      <xacro:ros2_control_joint joint_name="shoulder_pan_joint" initial_value="0.0"/>
      <xacro:ros2_control_joint joint_name="shoulder_lift_joint" initial_value="${-pi/2}"/>
      <xacro:ros2_control_joint joint_name="elbow_joint" initial_value="${pi/2}"/>
      <xacro:ros2_control_joint joint_name="wrist_1_joint" initial_value="${-pi/2}"/>
      <xacro:ros2_control_joint joint_name="wrist_2_joint" initial_value="${-pi/2}"/>
      <xacro:ros2_control_joint joint_name="wrist_3_joint" initial_value="0.0"/>
      <xacro:if value="${include_gripper}">
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_left_knuckle_joint" initial_value="0.0"/>
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_right_knuckle_joint" initial_value="0.0"/>
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_left_inner_knuckle_joint" initial_value="0.0"/>
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_right_inner_knuckle_joint" initial_value="0.0"/>
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_left_finger_tip_joint" initial_value="0.0"/>
        <xacro:ros2_control_joint joint_name="${gripper_prefix}robotiq_85_right_finger_tip_joint" initial_value="0.0"/>
      </xacro:if>
    </ros2_control>
  </xacro:macro>
</robot>
